@font-face {
	font-family: 'Scheherazade';
    font-style: normal;
    font-weight: normal;
	src: url('../fonts/scheherazade.woff') format('woff');
}

.quran {
	text-align: right;
	width: 600px;
	line-height: 50px;
	padding: 0 10px 10px 10px;
}

body, .quran {
	background-color: white;
	font-family: 'Scheherazade'; 
	font-size: 32px;
}

.akhir_container {
	position: relative; 
	font-size: 40px;
}

.akhir {
	position: absolute;
	color: black;
	font-size: 18px;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 18px;
	line-height: 26px;
	text-align: center;
}

.ar {
	word-spacing: 4px;
	margin-top: 10px;
}

.ms, .en, .in {
	line-height: 20px;
	font-size: 15px;
	text-align: left;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 20px;
	word-spacing: 3px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.footer {
	/*margin-top: -30px;*/
	margin-top: 30px;
	color: #888; 
	font-size: 26px; 
	line-height: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}