body {
	background: url(gplaypattern.png) repeat fixed; 
}

.row > div {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #eee;
}

.highlight {
    font-weight: bold;
    color: green;
}

.usage ol {
    padding-left: 20px;
}

h1, h2, h3, h4, .jumbotron {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.jumbotron h1 {
    font-weight: 400;
}

.developer-footer {
    display: inline;
}

@media (max-width: 767px){
    .developer-footer {
        display: block;
    }
}